*,
*::before,
*::after  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
 *
 * COLORS
 *
 */

/*
	Darkgray: #2e2e2e (46, 46, 46)
	Gray: #393939 (57, 57, 57)
	Lightgray: #7d7d7d (125, 125, 125)
*/

/*
 *
 * FONTS
 *
 */

@font-face {
	font-family: 'Open Sans Bold';
	src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
	font-family: 'Open Sans Regular';
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'Open Sans Italic';
	src: url(../fonts/OpenSans-Italic.ttf);
}

/*
 *
 * GLOBAL
 *
 */

body {
	font-family: 'Open Sans Regular', sans-serif;
}

.home-intro-2 h2,
.about-intro-1 h2,
.about-intro-2 h2,
.about-intro-3 h2,
.about-intro-4 h2,
.service-details h2,
.community-intro-4 h2,
.community-intro-2 h2,
.community-2 h2,
.community-3 h2 {
	font-family: 'Open Sans Bold', sans-serif;
	color: #2e2e2e;
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 10px;
}

.home-intro-2 p,
.about-intro-1 p,
.about-intro-2 p,
.about-intro-3 p,
.about-intro-4 p,
.service-details p,
.community-intro-4 p,
.community-intro-2 p,
.community-2 p,
.community-3 p {
	font-family: 'Open Sans Bold', sans-serif;
	color: #393939;
	font-size: 1.4em;
	line-height: 1.3em;
	padding-left: 3px;
}

/*
 *
 * NAV
 *
 */

nav {
	background-color: transparent;
	box-shadow: none;
	position: fixed;
	z-index: 6;
}

.nav-wrapper {
	width: 85%;
	margin: 0 auto;
	padding: 35px 0;
}

nav ul a {
	font-family: "Open Sans Bold", sans-serif;
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 18px 3px 10px 3px;
	margin: 0 0 0 60px;
	line-height: 1em;
}

nav ul a:hover {
	border-bottom: 2px solid #2e2e2e;
	background-color: transparent;
}

nav .brand-logo img {
	color: pink;
	height: 40px;
}

/*Light Nav*/

.light-nav ul a,
.light-nav a {
	color: #393939;
}

/*Dark Nav*/

.dark-nav ul a {
	color: #fff;
}

/*Side Nav*/

.sidenav a {
	font-family: "Open Sans Bold", sans-serif;
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0;
	margin-left: 20px;
	line-height: 1em;
}

.sidenav img {
	height: 50px;
	margin: 50px 0 20px 32px;
}

/*
 *
 * FOOTER
 *
 */

footer {
	color: lightgray;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	font-size: 1em;
}

.footer-wrapper {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

footer .brand img {
	height: 50px;
	margin-top: 23px;
	margin-left: -23px;
	position: absolute;
	/*float: left;*/
}

footer h3 {
	text-transform: uppercase;
	font-size: .9em;
	margin-bottom: 7px;
}

footer p,
footer span {
	line-height: 1.3em;
}

footer span {
	position: absolute;
	bottom: 0;
}

footer i {
	font-size: 2.1em;
	margin-right: 10px;
	vertical-align: top;
	padding: 0;
	line-height: 1em;
}

/*
 *
 * HOME
 *
 */

.home-wrapper {
	top: 0;
	z-index: 0;
}

/*First Screen*/

.home-1 {
	position: relative;
	height: 100vh;
}

.home-intro-1,
.home-video	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home-intro-1 {
	margin-left: -240px;
	z-index: 3;
}

.home-intro-1 div {
	font-family: 'Open Sans Bold', sans-serif;
	text-transform: uppercase;
	color: #2e2e2e;
	font-size: 2em;
}

.home-intro-1 img {
	height: 80px;
}

.home-video {
	height: 580px;
	width: 580px;
	background-color: lightgray;
	border-radius: 50%;
	z-index: 2;
}

/*Second Screen*/

.home-2 {
	height: 100vh;
	background: #f8f8f8;
	position: relative;
}

.home-intro-2,
.home-blocks-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home-intro-2 {
	width: 30%;	
	margin-left: 410px;
	margin-top: 80px;
	z-index: 3;
}

.home-blocks-2 {
	width: 50%;
	z-index: 2;
	text-align: center;
}

.home-blocks-2 .block {
	background-color: lightgray;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	display: inline-block;
}

/*Third Screen*/

.quote {
	background: #2e2e2e;
	height: 100vh;
	position: relative;
}

.quote-blocks,
.quote-intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.quote-blocks {
	width: 50%;
	text-align: center;
	z-index: 2;
}

.quote-blocks .block {
	background-color: lightgray;
	height: 260px;
	width: 260px;
	border-radius: 100%;
	display: inline-block;
}

.quote-intro {
	z-index: 3;
	margin-top: 130px;
	margin-left: 120px;
	color: #2e2e2e;
}

.quote-intro span {
	font-size: 2em;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

.quote-intro span:last-child {
	font-family: 'Open Sans Bold', sans-serif;
}


/*
 *
 * ABOUT
 *
 */

/*First Screen*/

.about-1 {
	position: relative;
	height: 100vh;
}

.about-intro-1,
.about-video	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.about-intro-1 {
	margin-left: -330px;
	margin-top: -150px;
	z-index: 3;
	width: 25%;
}


.about-video {
	height: 580px;
	width: 580px;
	background-color: lightgray;
	border-radius: 50%;
	z-index: 2;
}

/*Second Screen*/

.about-2 {
	height: 100vh;
	background-color: #f8f8f8;
	position: relative;
}

.about-blocks-2,
.about-intro-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.about-blocks-2 {
	width: 50%;
	text-align: center;
	z-index: 2;
}

.about-blocks-2 .block {
	background-color: lightgray;
	height: 260px;
	width: 260px;
	border-radius: 100%;
	display: inline-block;
}

.about-blocks-2 .block-2 {
	background-color: transparent;
}

.about-intro-2 {
	z-index: 3;
	margin-top: -160px;
	margin-left: 210px;
	color: #2e2e2e;
	width: 25%;
}

.about-intro-2 span {
	font-size: 2em;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

.about-intro-2 span:last-child {
	font-family: 'Open Sans Bold', sans-serif;
}

/* Third Screen */

.about-3 {
	height: 100vh;
	position: relative;
}

.about-intro-3,
.about-blocks-3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.about-intro-3 {
	width: 30%;	
	margin-left: 410px;
	margin-top: 80px;
	z-index: 3;
}

.about-blocks-3 {
	width: 50%;
	z-index: 2;
	text-align: center;
}

.about-blocks-3 .block {
	background-color: lightgray;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	display: inline-block;
}

/* Fourth Screen */

.about-4 {
	height: 100vh;
	position: relative;
	background: #f8f8f8;
}

.about-intro-4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.about-intro-4 {
	width: 30%;	
	margin-left: -300px;
}

/*
 *
 * SERVICES
 *
 */

.services-1,
.services-2 {
	height: 100vh;
	position: relative;
}

.services-2 {
	background-color: #f8f8f8;
}

.services-wrapper {
	width: 85%;
	margin: 0 auto;
	padding-left: 90px;
}

.service-img-container {
	text-align: center;
}

.service-img {
	height: 340px;
	width: 340px;
	border-radius: 50%;
	background-color: lightgray;
	display: inline-block;
}

.service-details {
	width: 100%;
	position: relative;
}

.service-details a,
.service-details a:active {
	color: #2e2e2e;
	display: block;
	text-align: right;
	font-size: 1.8em;
	font-family: 'Open Sans Bold', sans-serif;
}

.service-details i {
	font-size: 2em;
	padding: 30px 15px 30px 5px;
	color: #7d7d7d;
}

.services-2 .service-details i {
	font-size: 1.5em;
}

.service-details small {
	font-family: 'Open Sans Italic', sans-serif;
	font-size: 1em;
	color: #7d7d7d;
}

.service-details .row {
	position: relative;
}

.service-details .indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.service-details .indicator i {
	font-size: .7em;
	display: block;
	opacity: .5;
	padding: 10px;
}

/* Third Screen */

.services-3 {
	height: 100vh;
	position: relative;
}

.services-intro-3,
.services-blocks-3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services-intro-3 {
	width: 30%;	
	margin-left: 150px;
	z-index: 3;
}

.services-blocks-3 {
	width: 50%;
	z-index: 2;
	text-align: center;
}

.services-blocks-3 .block {
	background-color: lightgray;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	display: inline-block;
}

.services-3 .block-5,
.services-3 .block-6 {
	background-color: transparent;
}

.services-intro-3 p {
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 2.7em;
	line-height: 1.1em;
}


/*
 *
 * COMMUNITY
 *
 */

/* First Screen */

.community-1 {
	height: 100vh;
	position: relative;
}

.community-blocks-2,
.community-intro-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.community-blocks-2 {
	width: 50%;
	text-align: center;
	z-index: 2;
}

.community-blocks-2 .block {
	background-color: lightgray;
	height: 260px;
	width: 260px;
	border-radius: 100%;
	display: inline-block;
}

.community-blocks-2 .block-4 {
	background-color: transparent;
}

.community-intro-2 {
	z-index: 3;
	margin-top: 115px;
	margin-left: 210px;
	color: #2e2e2e;
	width: 25%;
}

.community-intro-2 span {
	font-size: 2em;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

.community-intro-2 span:last-child {
	font-family: 'Open Sans Bold', sans-serif;
}

/* Second and Third Screens */

.community-2,
.community-3 {
	height: 100vh;
	position: relative;
}

.community-2 {
	background-color: #f8f8f8;
}

.community-wrapper {
	width: 65%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile-img {
	height: 300px;
	width: 300px;
	background-color: lightgray;
	border-radius: 50%;
}

.blank {
	width: 100%;
	height: 300px;
}

.profile-name h3 {
	font-family: 'Open Sans Bold', sans-serif;
	text-transform: uppercase;
	color: #2e2e2e;
	font-size: 1.5em;
	padding: 0;
	margin: 0;
}

.profile-name h2 {
	margin-top: 0;
}

.profile-name p {
	padding: 0;
	margin: 0;
}


/* Fourth Screen */

.community-4 {
	height: 100vh;
	position: relative;
	background-color: #f8f8f8;
}

.community-intro-4,
.community-blocks-4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.community-intro-4 {
	width: 30%;	
	margin-left: 150px;
	margin-top: -20px;
	z-index: 3;
}

.community-blocks-4 {
	width: 50%;
	z-index: 2;
	text-align: center;
}

.community-blocks-4 .block {
	background-color: lightgray;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	display: inline-block;
}

.community-4 .block-5,
.community-4 .block-6 {
	background-color: transparent;
}


/*
 *
 * CONTACT
 *
 */

.contact-wrapper {
	width: 80%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contact-form,
.visit {
	padding: 20px;
}

.submit-btn-div {
	text-align: right;
}

.submit-btn {
	text-decoration: none;
	background-color: transparent;
	border: transparent;
	font-family: 'Open Sans Bold', sans-serif;
	color: #2e2e2e;
	font-size: 1.5em;
	cursor: pointer;
}

.maps .block {
	height: 280px;
	width: 280px;
	background-color: lightgray;
	border-radius: 50%;
	display: inline-block;
}

.contact-intro {
	padding: 0 0 50px 0;
}

.contact-intro h2 {
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 1.5em;
	color: #2e2e2e;
	margin-bottom: 15px;
}

.contact-intro p {
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 1em;
}


/*
 *
 * Media Query S - Mobile
 *
 */

@media only screen and (max-width: 600px) {
	/* GLOBAL */

	.home-intro-2 h2,
	.about-intro-1 h2,
	.about-intro-2 h2,
	.about-intro-3 h2,
	.about-intro-4 h2,
	.service-details h2,
	.community-intro-4 h2,
	.community-intro-2 h2,
	.community-2 h2,
	.community-3 h2 {
		font-family: 'Open Sans Bold', sans-serif;
		color: #2e2e2e;
		font-size: 1.5em;
		line-height: 1em;
		margin-bottom: 10px;
	}

	.home-intro-2 p,
	.about-intro-1 p,
	.about-intro-2 p,
	.about-intro-3 p,
	.about-intro-4 p,
	.service-details p,
	.community-intro-4 p,
	.community-intro-2 p,
	.community-2 p,
	.community-3 p {
		font-family: 'Open Sans Bold', sans-serif;
		color: #393939;
		font-size: 1em;
		line-height: 1em;
		padding-left: 3px;
	}

	.about-blocks-3 .block,
	.services-blocks-3 .block,
	.community-blocks-4 .block,
	.home-blocks-2 .block {
		height: 80px;
		width: 80px;
	}

	.community-blocks-2 .block,
	.quote-blocks .block,
	.about-blocks-2 .block {
		height: 100px;
		width: 100px;		
	}

	.home-blocks-2,
	.quote-blocks,
	.about-blocks-2,
	.about-blocks-3,
	.services-blocks-3,
	.community-blocks-2,
	.community-blocks-4,
	.home-blocks-2 {
		width: 300px;
	}

	.home-video,
	.about-video {
		height: 300px;
		width: 300px;
	}

	.service-img {
		height: 250px;
		width: 250px;	
	}

	.maps .block {
		height: 230px;
		width: 230px;
	}

	/* NAV */

	nav .brand-logo img {
		margin-top: 10px;
		height: 30px;
	}


	/* FOOTER */


	/* HOME */



	.home-intro-1 {
		margin-left: -70px;
	}

	.home-intro-2 {
		margin: 0;
	}


	/* ABOUT */


	/* SERVICES */


	/* COMMUNITY */


	/* CONTACT */

}

/*
 *
 * Media Query M - Tablet
 *
 */

@media only screen and (min-width: 600px) and (max-width: 991px) {
		/* GLOBAL */

	.home-intro-2 h2,
	.about-intro-1 h2,
	.about-intro-2 h2,
	.about-intro-3 h2,
	.about-intro-4 h2,
	.service-details h2,
	.community-intro-4 h2,
	.community-intro-2 h2,
	.community-2 h2,
	.community-3 h2 {
/*		font-size: 1.5em;
		line-height: 1em;
		margin-bottom: 10px;*/
	}

	.home-intro-2 p,
	.about-intro-1 p,
	.about-intro-2 p,
	.about-intro-3 p,
	.about-intro-4 p,
	.service-details p,
	.community-intro-4 p,
	.community-intro-2 p,
	.community-2 p,
	.community-3 p {
/*		font-size: 1em;
		line-height: 1em;
		padding-left: 3px;*/
	}

	.about-blocks-3 .block,
	.services-blocks-3 .block,
	.community-blocks-4 .block,
	.home-blocks-2 .block {
		height: 150px;
		width: 150px;
	}

	.community-blocks-2 .block,
	.quote-blocks .block,
	.about-blocks-2 .block {
		height: 200px;
		width: 200px;		
	}

	.home-blocks-2,
	.quote-blocks,
	.about-blocks-2,
	.about-blocks-3,
	.services-blocks-3,
	.community-blocks-2,
	.community-blocks-4,
	.home-blocks-2 {
		width: 500px;
	}

	.home-video,
	.about-video {
		height: 450px;
		width: 450px;
	}

	/* NAV */

	nav .brand-logo img {
		margin-top: 10px;
		height: 30px;
	}


	/* FOOTER */


	/* HOME */

	.home-video {
		height: 500px;
		width: 500px;
	}

	.home-intro-1 {
		margin-left: -140px;
	}


	/* ABOUT */


	/* SERVICES */


	/* COMMUNITY */


	/* CONTACT */
}

/*
 *
 * Media Query L - Desktop
 *
 */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
		/* GLOBAL */

	.home-intro-2 h2,
	.about-intro-1 h2,
	.about-intro-2 h2,
	.about-intro-3 h2,
	.about-intro-4 h2,
	.service-details h2,
	.community-intro-4 h2,
	.community-intro-2 h2,
	.community-2 h2,
	.community-3 h2 {
/*		font-size: 1.5em;
		line-height: 1em;
		margin-bottom: 10px;*/
	}

	.home-intro-2 p,
	.about-intro-1 p,
	.about-intro-2 p,
	.about-intro-3 p,
	.about-intro-4 p,
	.service-details p,
	.community-intro-4 p,
	.community-intro-2 p,
	.community-2 p,
	.community-3 p {
/*		font-size: 1em;
		line-height: 1em;
		padding-left: 3px;*/
	}

	.about-blocks-3 .block,
	.services-blocks-3 .block,
	.community-blocks-4 .block,
	.home-blocks-2 .block {
		height: 160px;
		width: 160px;
	}

	.community-blocks-2 .block,
	.quote-blocks .block,
	.about-blocks-2 .block {
		height: 220px;
		width: 220px;		
	}

	.home-blocks-2,
	.quote-blocks,
	.about-blocks-2,
	.about-blocks-3,
	.services-blocks-3,
	.community-blocks-2,
	.community-blocks-4,
	.home-blocks-2 {
		width: 600px;
	}

	.home-video,
	.about-video {
		height: 500px;
		width: 500px;
	}

	.maps .block {
		height: 180px;
		width: 180px;
	}

	/* NAV */


	/* FOOTER */


	/* HOME */


	/* ABOUT */


	/* SERVICES */


	/* COMMUNITY */


	/* CONTACT */
}

/*
 *
 * Media Query XL - Large Desktop
 *
 */

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
	/* GLOBAL */

	.home-intro-2 h2,
	.about-intro-1 h2,
	.about-intro-2 h2,
	.about-intro-3 h2,
	.about-intro-4 h2,
	.service-details h2,
	.community-intro-4 h2,
	.community-intro-2 h2,
	.community-2 h2,
	.community-3 h2 {
/*		font-size: 1.5em;
		line-height: 1em;
		margin-bottom: 10px;*/
	}

	.home-intro-2 p,
	.about-intro-1 p,
	.about-intro-2 p,
	.about-intro-3 p,
	.about-intro-4 p,
	.service-details p,
	.community-intro-4 p,
	.community-intro-2 p,
	.community-2 p,
	.community-3 p {
/*		font-size: 1em;
		line-height: 1em;
		padding-left: 3px;*/
	}

	.about-blocks-3 .block,
	.services-blocks-3 .block,
	.community-blocks-4 .block,
	.home-blocks-2 .block {
		height: 180px;
		width: 180px;
	}

	.community-blocks-2 .block,
	.quote-blocks .block,
	.about-blocks-2 .block {
		height: 240px;
		width: 240px;		
	}

	.home-blocks-2,
	.quote-blocks,
	.about-blocks-2,
	.about-blocks-3,
	.services-blocks-3,
	.community-blocks-2,
	.community-blocks-4,
	.home-blocks-2 {
		width: 600px;
	}

	.home-video,
	.about-video {
		height: 500px;
		width: 500px;
	}

	.maps .block {
		height: 230px;
		width: 230px;
	}

	/* NAV */


	/* FOOTER */


	/* HOME */


	/* ABOUT */


	/* SERVICES */


	/* COMMUNITY */


	/* CONTACT */
}

/*
 *
 * Media Query XXL - Extra Large Desktop
 *
 */

@media only screen and (min-width: 1800px){
	/* GLOBAL */

	.home-intro-2 h2,
	.about-intro-1 h2,
	.about-intro-2 h2,
	.about-intro-3 h2,
	.about-intro-4 h2,
	.service-details h2,
	.community-intro-4 h2,
	.community-intro-2 h2,
	.community-2 h2,
	.community-3 h2 {
/*		font-size: 1.5em;
		line-height: 1em;
		margin-bottom: 10px;*/
	}

	.home-intro-2 p,
	.about-intro-1 p,
	.about-intro-2 p,
	.about-intro-3 p,
	.about-intro-4 p,
	.service-details p,
	.community-intro-4 p,
	.community-intro-2 p,
	.community-2 p,
	.community-3 p {
/*		font-size: 1em;
		line-height: 1em;
		padding-left: 3px;*/
	}

	.about-blocks-3 .block,
	.services-blocks-3 .block,
	.community-blocks-4 .block,
	.home-blocks-2 .block {
		height: 200px;
		width: 200px;
	}

	.community-blocks-2 .block,
	.quote-blocks .block,
	.about-blocks-2 .block {
		height: 260px;
		width: 260px;		
	}

	.home-blocks-2,
	.quote-blocks,
	.about-blocks-2,
	.about-blocks-3,
	.services-blocks-3,
	.community-blocks-2,
	.community-blocks-4,
	.home-blocks-2 {
		width: 700px;
	}


	/* NAV */


	/* FOOTER */


	/* HOME */


	/* ABOUT */


	/* SERVICES */


	/* COMMUNITY */


	/* CONTACT */
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}